@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

body{
  background-image: url(https://source.unsplash.com/1600x900/?moder-design,todo,study);

}

html {
  font-size: 100%;
}
body {
  font-size: 16px;
  min-height: 100vh;
  cursor: url("favicon.ico"), default;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
ul,body {
  position: relative;
}

header {
  background-color: #3a3a3a;
  color: white;
  padding-top: 0.5em;
}

h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
}
h1:hover {
  color: rgb(205, 248, 244);
  letter-spacing: 0.01em;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#txt-pop {
  color: turquoise;
}

h4 {
  font-family: "Poppins";
  font-variant: small-caps;
  font-weight: 500;
}

h5 {
  font-family: "Poppins";
  text-align: center;
}

.mt-3{
  position: relative;
  background: rgba(255, 255, 255, 0.5);;
  opacity: 0.9;
  border-radius: 15px;
  padding: 50px 80px 20px 50px;
  backdrop-filter: blur(20px);

}

.btn{
  font-weight: 900px;
} 

.actions {
    opacity: 0;
    transition: 0.3s;
}

.list-group-item:hover .actions {
    opacity: 100%;
    transition: 0.2s;
}

input,
ul {
  font-family: Poppins;
}

h5 {
  font-family: "Poppins";
  text-align: center;
}

.important {
  background-color: #fbf71e;
}
#completedItems li{
  text-decoration: line-through;
}
/*footer styling*/

footer .footer-1 {
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  background: #111;
}
footer .content {
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,
a {
  color: #fff;
}
footer .content .box {
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
  font-family: "Poppins", sans-serif;
}
footer .content p {
  text-align: justify;
  font-family: "Open Sans", "Cambria", Georgia, "Times New Roman", serif;
  font-weight: 400;
}
footer .content .lower .topic {
  margin: 24px 0 5px 0;
}
footer .content .lower i {
  padding-right: 16px;
}
footer .content .middle {
  padding-left: 80px;
}
footer .content .middle a {
  line-height: 32px;
}
footer .content .right input[type="text"] {
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"] {
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover {
  background: none;
  color: #eb2f06;
}
footer .content .media-icons a {
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover {
  border-color: #eb2f06;
}
footer .bottom {
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
  font-family: "Open Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
footer .bottom a {
  color: aqua;
}
footer a {
  transition: all 0.3s ease;
}
footer a:hover {
  color: #eb2f06;
}
@media (max-width: 1100px) {
  footer .content .middle {
    padding-left: 50px;
  }
}
@media (max-width: 950px) {
  footer .content .box {
    width: 50%;
  }
  .content .right {
    margin-top: 40px;
  }
}
@media (max-width: 560px) {
  footer {
    position: relative;
  }
  footer .content .box {
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle {
    padding-left: 0;
  }
}

hr{
  width: 90%;
  border: 0;
  border-bottom: 1px solid rgb(255, 255, 255);
  margin: 20px auto;
}

/* FOOTER styling over here */
/*      
footer{
        font-family: Poppins;
        position: absolute;
        background-color: #3a3a3a;
        padding: 8px;
        bottom:0;
        width: 100%;
        color: white;
        height: max-content;
}
footer a {
    color: turquoise;
}
.author{
    font-family: Merienda;
    text-align: center;
    padding-top: 10px;
}
*/

/* When the list items increase, they start touching the footer so gave a lil margin to the last list item. */
li:last-child {
  margin-bottom: 20px !important;
}
/* Media Queries for Mobile Viewports */
@media (max-width: 577px) {
  #addForm input[type="submit"] {
    margin-top: 12px;
    width: 100%;
  }
  /* Child node buttons didn't have space in between and looked weird on mobile viewports*/
  li button {
    margin-bottom: 8px;
  }
}
