head, body{
    cursor: url("favicon.ico"), default;
    background-image: url(https://source.unsplash.com/1600x900/?white);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px); 
}
body{
    min-height: 100vh;
}
ul,body{
    position: relative;
}

h1{
    font-family: Poppins; 
    text-align: center;
}

h4{
    font-family: Merienda; 
    font-variant: small-caps;
}

input, ul{
    font-family: Poppins; 
}

h5{
    font-family: Merienda; 
    text-align: center;
}

footer{
        font-family: Poppins;
        position: absolute;
        background-color: #3a3a3a;
        padding: 8px;
        bottom:0;
        width: 100%;
        color: white;
        height: max-content;
}

.author{
    font-family: Merienda;
    text-align: center;
    padding-top: 10px;
}
/* When the list items increase, they start touching the footer so gave a lil margin to the last list item. */
li:last-child{
    margin-bottom: 20px !important;
}
/* Media Queries for Mobile Viewports */
@media(max-width:577px){
    #addForm input[type="submit"]
    {
        margin-top: 12px;
        width: 100%;
    }
    /* Child node buttons didn't have space in between and looked weird on mobile viewports*/
    li button{
        margin-bottom: 8px;
    }
}